@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    margin: 1% 0 1% 0;
    display: flex;
    justify-content: space-around;
}

.logo img {
    width: 20%;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 32px;
}

.item-menu {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
}

.item-menu a {
    color: #000;
}

.chamada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    font-family: 'Roboto';
    color: #FFF;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom, transparent 0%, #000 100%), url('assets/mulheres-na-TI.jpg');
}

.chamada div {
    margin: 15% 0 15% 0;
}

.chamada h6 {
    text-align: center;
    font-weight: lighter;
    font-size: 24px;
}

.chamada h1 {
    text-align: center;
    font-weight: lighter;
    font-size: 73px;
    margin: 5% 0 5% 0;
}

#programacao {
    background-color: #f5952c;
}

.confirmacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 0 8% 0;
}

.confirmacao h3 {
    font-family: 'Roboto';
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    width: 80%;
}

.confirmacao button {
    font-family: 'Roboto';
    font-size: 20px;
    background-color: #FFF;
    font-weight: lighter;
    padding: 1% 4% 1% 4%;
    margin-top: 5%;
    border: none;
    border-radius: 5px;
}

.card-dias {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h6 {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: lighter;
}

.card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 2% 0 2% 0;
}

.card p {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: lighter;
}