@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    padding: 1% 0 1% 0;
    display: flex;
    justify-content: space-around;
    background-color: #fff4e8;
}

.logo img {
    width: 20%;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 32px;
}

.item-menu {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
}

.item-menu a {
    color: #000;
    transition: all 0.2s;
}

.item-menu a:hover {
    color: #6b6b6b;
}

.chamada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    font-family: 'Roboto';
    color: #fff4e8;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom, transparent 0%, #000 100%), url('assets/mulheres-na-TI.jpg');
}

.chamada div {
    margin: 15% 0 15% 0;
}

.chamada h6 {
    text-align: center;
    font-weight: lighter;
    font-size: 24px;
}

.chamada h1 {
    text-align: center;
    font-weight: lighter;
    font-size: 73px;
    margin: 5% 0 5% 0;
}

#programacao {
    background-color: #f5952c;
}

.confirmacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 0 8% 0;
}

.confirmacao h3 {
    font-family: 'Roboto';
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    width: 80%;
}

.confirmacao a {
    font-family: 'Roboto';
    font-size: 20px;
    background-color: #fff4e8;
    font-weight: lighter;
    padding: 1% 4% 1% 4%;
    margin-top: 5%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: inherit;
    transition: all 0.2s;
}

.confirmacao a:hover {
    background-color: #fcd0a2;
}

.card-dias {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h6 {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: lighter;
}

.card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 2% 0 2% 0;
}

.card p {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: lighter;
}

#sobre {
    background-color: #fff4e8;
}

.trecho-sobre {
    display: flex;
    justify-content: center;
}

.trecho-sobre h3 {
    font-family: 'Roboto';
    font-size: 50px;
    width: 80%;
    font-weight: lighter;
    text-align: center;
    padding: 10% 0 8% 0;
}

.imagem-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}

.imagem-sobre iframe {
    width: 700px;
    height: 400px;
}

.imagem-sobre p {
    font-family: 'Roboto';
    padding: 1% 0 1% 0;
    font-size: 14px;
}

#local {
    background-color: #f5952c;
}

.titulo-local h3 {
    font-family: 'Roboto';
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    padding-top: 5%;
}

.informacoes {
    display: flex;
    padding: 5% 0 5% 0;
}

.localizacao {
    margin: 0 5% 0 14%;
}

.localizacao h6 {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: 5%;
}

.localizacao p {
    font-family: 'Roboto';
}

.descricao h6 {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: lighter;
    width: 80%;
}

.container {
    display: flex;
    justify-content: center;
}

.imagens {
    display: flex;
    flex-direction: column;
    margin: 0 2% 5% 0;
}

.imagens img {
    width: 300px;
    height: 212px;
    object-fit: cover;
    margin-bottom: 8%;
}

#cadastro {
    background-color: #fff4e8;
}

.titulo-cadastro h3 {
    font-family: 'Roboto';
    font-size: 42px;
    font-weight: lighter;
    padding: 5% 0 0 5%;
}

.formulario-cadastro {
    display: flex;
    padding: 2% 0 2% 5%;
    align-items: center;
}

.div-nome, .div-email, .div-whatsapp {
    margin-right: 5%;
}

.div-nome h6, .div-email h6, .div-whatsapp h6 {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 2%;
}

.div-nome input, .div-email input, .div-whatsapp input {
    height: 30px;
    width: 200px;
    border: 1px solid #8a8989;
    border-radius: 5px;
    padding: 0 2% 0 2%;
}

.botao-messagem {
    display: flex;
    margin-top: 2%;
}

.botao-messagem button {
    width: 100px;
    height: 30px;
    margin-right: 2%;
    background-color: #f5952c;
    font-family: 'Roboto';
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.botao-messagem button:hover {
    background-color: #fcb365;
}

.botao-messagem span {
    width: 80%;
    font-family: 'Roboto';
}

footer {
    background-color: #fff4e8;
    display: flex;
    justify-content: end;
    padding: 2% 1% 2% 0;
}

footer p {
    font-family: 'Roboto';
    font-size: 11px;
    font-weight: lighter;
}